* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header-container-terms {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #ffffff;
  background: linear-gradient(90deg, rgb(238, 238, 238) 0%, #7FAFE8 100%);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.411);
}

.header-keyflix-terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.header-logo-terms {
  display: flex;
  align-items: center;
}

.keyflix-title-terms {
  color: #123662;
  margin-left: 5px;
  font-size: 18px;
  text-shadow: 1px 1px 10px #0489f738;
}

.terms-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.terms-title {
  text-align: center;
  color: #0077ff;
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 10px rgba(0, 119, 255, 0.2);
}

.terms-content section {
  margin-bottom: 20px;
}

.terms-content h2 {
  color: #0056cc;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.terms-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.terms-content ul {
  margin-left: 20px;
  list-style-type: disc;
}

.terms-content ul li {
  margin-bottom: 5px;
}