* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #ffffff;
  background: linear-gradient(90deg, rgb(238, 238, 238) 0%, #7FAFE8 100%);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.411);
}

.header-keyflix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
}

.keyflix-title {
  color: #123662;
  margin-left: 5px;
  font-size: 18px;
}

.header-options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-notifications {
  cursor: pointer;
}

.btn-header-user {
  background-color: #0356bb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-header-user:hover {
  background-color: #013699;
}

.menu-keyflix {
  top: 0;
  left: 0;
  background: #ffffff;
  background: linear-gradient(180deg, #F1F6FD 70%, #7FAFE8 100%);
  width: 260px;
  height: 100%;
  display: none;
  border: 1px solid gray;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
  border-left: none;
  border-bottom: none;
  border-top: none;
}

.btn-menu-keyflix {
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.btn-menu-keyflix:hover {
  transform: scale(1.03);
  transition: all 0.3s;
}

.menu-keyflix-user {
  display: flex;
  align-items: center;
  margin: auto;
  color: black;
  margin-top: 100px;
}

.user-initial {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}

.user-image {
  border-radius: 50%;
  margin: 0 15px;
}

.menu-user-name {
  font-size: 15px;
  font-weight: 300;
}

.menu-search-box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.menu-search-box img {
  border: 1px solid rgb(195, 195, 195);
  border-right: none;
  padding: 8px;
  background-color: white;
}

.menu-input-search {
  border: 1px solid rgb(195, 195, 195);
  border-left: none;
  outline: none;
  padding: 8px;
}

.menu-options-box {
  display: grid;
  padding: 8px;
}

.menu-options-user,
.menu-options-dashboard,
.menu-options-cart,
.menu-options-support {
  display: flex;
  margin: 10px;
  font-weight: 300;
  color: #525252;
  cursor: pointer;
  gap: 15px;
}