* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }

body {
    background-image: url('/public/background2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
  .header-container {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #ffffff00;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.411);
  }
  
  .header-keyflix {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .keyflix-title {
    color: #123662;
    margin-left: 5px;
    font-size: 18px;
    text-shadow: 1px 1px 10px #0489f738;
  }
  
  .header-options {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .btn-header-login {
    background-color: #0356bb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 10px #0489f738;
    transition: 0.5s all;
  }
  .btn-header-login:hover {
    background-color: #013699;
    box-shadow: 1px 1px 10px #0489f738;
    transform: scale(1.02);
  }

.KeyFlix {
    width: 100%;
    height: 100%;
}

.principal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.principal-title {
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-weight: 400;
    color: white;
    text-shadow: #867dff 0px 0px 10px;
    font-size: 60px;
    text-align: center;
}

.principal-description {
    font-family: 'Special Gothic Expanded One', sans-serif;
    margin-top: 20px;
    font-weight: 300;
    text-align: center;
    color: white;
    text-shadow: #867dff 0px 0px 10px;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #18153b;
}

.principal-description-2 {
    font-family: 'Special Gothic Expanded One', sans-serif;
    margin-top: 20px;
    font-weight: 300;
    text-align: center;
    color: white;
    text-shadow: #867dff 0px 0px 10px;
    font-size: 20px;
}

.Login-modal {
    display: none; 
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(8, 6, 29, 0.774);
}

.login-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 20px;
    box-shadow: #0356bb 0px 0px 10px;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 5px solid rgb(11, 67, 150);
    border-style: ridge;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    margin-top: 30vh;
}

.login-title {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.login-description {
    font-size: 14px;
    color: #0356bb;
    text-align: center;
    margin-bottom: 25px;
}

.label-email {
  padding: 10px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 3px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.login-inputs input:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 8px #0077ff;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.login-input {
  flex: 1;
  padding-right: 40px; /* Espaço para o botão de olho */
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-checkbox {
  font-size: 14px;
  padding: 8px;
}

.login-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    outline: none;
}

.btn-login {
    background-color: #0356bb;
    color: white;
    border: none;
    margin-bottom: 30px;
    padding: 8px 120px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 10px #0489f738;
    transition: 0.5s all;
}

.btn-login:hover {
    background-color: #013699;
    box-shadow: 1px 1px 10px #0489f738;
    transform: scale(1.01);
}

.login-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.login-close {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 15px;
}

.btn-login-close {
  background-color: #0356bb;
    color: white;
    border: none;
    padding: 3px 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all;
}

.btn-login-close:hover {
    background-color: #013699;
}

.login-description-2 {
    font-size: 13px;
    color: rgb(17, 17, 17);
}

.login-description-2 a {
    color: #0356bb;
    text-decoration: none;
}

.modal-overlay-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container-success {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 30px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-icon-success {
  font-size: 3rem;
  margin-bottom: 10px;
}

.modal-checkmark {
  color: #0356bb;
}

.modal-title-success {
  color: #0356bb;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-shadow: #008cff8c 0px 0px 10px;
  font-size: 30px;
  margin-bottom: 10px;
}

.modal-message-success {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #333;
}

  